.git
# you usually don't want dockerfile and compose files in the image either
*Dockerfile*
*compose*
*docker-compose*

# for Node.js apps, you want to build the node_modules in the image, and not copy from host
**/node_modules

# **/dist
**/src
.env*

.vscode/
__mocks__
